.img1{
    height: 700px;
    width: 1800px;
}
.img2{
    height: 700px;
    width: 1800px;
}
.img3{
    height: 700px;
    width: 1800px;
}

.img4{
    height: 300px;
    width: 500px;
}
.img5{
    height: 300px;
    width: 500px;
}
.img6{
    height: 300px;
    width: 500px;
}

    
        
    









